.scheduling-container {
  display: flex;
  justify-content: space-between;
}

.jobs-section,
.unions-section {
  width: 48%; /* Adjust as needed */
}

.jobs-container,
.unions-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.job-box,
.union-box {
  width: calc(50% - 5px); /* Adjust as needed */
}