footer {
  margin-top: 80px;
  padding: 20px;
  text-align: center;
}

/* Hide footer in print view */
@media print {
  footer {
    display: none !important;
    visibility: hidden !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}