.job-table,th, td {
    margin-top: 55px;
    border:3px solid rgb(14, 13, 13);
      border-collapse: collapse;
      padding-left: 40px;
      padding-right: 40px;
      margin-left: 100px;
      margin-right: 50px;

  }

  table {
    width: 90%;
  }

  th, td {
    padding: .2em;
    min-width: 1.5em;
    margin-left: 150px;
    text-align: center;

  }

  thead {
    background: rgb(218, 221, 222);
    color: black;
    text-align: center;
    
  }




  .jobs-title{
    text-align: center;
    padding-bottom: 15px;
    font-weight: 900;
    margin-top: 25px;

  }

   .job-Number{
      margin-left: 25px;
      font-weight: 600;

  } 

  .job-name{
      margin-left: 15px;
      font-weight: 600;

  }

  .job-location{
    margin-left: 10px;
    font-weight: 600;

  }

  .date-start{
    margin-left: 10px;
    font-weight: 600;

  }

  .date-end{
    margin-left: 10px;
    font-weight: 600;

  }

.job-button{
  margin-left: 1275px;
  margin-top: 15px;

}

.job-toggle.active {
  background-color: #396a54;
  color: rgb(247, 243, 243);
}

.job-toggle.inactive {
  background-color: rgb(163, 42, 42);
  color: white;
}

.job-edit{
  color: rgb(9, 10, 16);
  font-weight: 600;
}
.job-delete{
  color: rgb(149, 21, 21);
  font-weight: 600;
}

.job-button{
  font-weight: 600;
}

.edit-job{
  text-align: center;
  font-weight: 700;
  padding-top: 15px;
  margin-bottom: 25px;
}

.edit-form{
text-align: center;
border: 2px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 10px 30px 10px hsla(0,0%,0%,0.1);
    padding: 50px;
    margin-left: 490px;
    text-align: center;
    max-width: 450px;
}

.to-edit{
  text-align: center;
  margin-bottom: 20px;
  font-size: large;
}

.job-form{
  text-align: center;

}

.update-button{
  font-weight: 700;
  font-size: large;

}

